*{
	margin: 0;
	padding: 0;
	font-family: Quicksand;
}
body{
	background: #eeeeee;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 50px;
	text-align: center;
	background: #FFF;
	color: #A6AF13;
}

#logo{
	width: 120px;
	height: 40px;
	margin: 0 auto;
}
#container-cadastro{
	width: 400px;
	height: 510px;
	margin:0 auto;
	background: #FFF;
	margin-top: 5%;
	border-radius: 5px;
	margin-bottom: 2%;
	box-shadow: 0 15px 40px rgba(0, 0, 0,.5);
}
#option {
	width: 400px;
	height: 40px;
	background: #fff;
	display: flex;
	margin-bottom: 15px;
}
#option button{
	width: 200px;
	height: 40px;
	text-align: center;
	border: none;
}
.op1 a {
	color: #A6AF13;
	font-size: 15px;
}
.op2 a{
	color:#FFF;
	font-size: 15px;
}
.op2{
	background: #A6AF13;
}
.op1{
	background: #FFF;
}

#cadastro h2{
	text-align: center;
	font-size: 25px;
	color: #fff;
}
#cadastro input[type="text"],input[type="password"]{
	border: none;
	display: block;
	padding: 10px;
	margin: 0 auto;
	width: 80%;
	margin-top: 10%;
	outline: none;
	border-bottom: 1px solid #A6AF13;

}
#cadastro input[type="text"]:focus,input[type="password"]:focus{
	border-bottom: 1px solid #262626;
}

#cadastro input[type="submit"]{
	border: none;
	padding: 10px;
	width: 80%;
	margin-top: 10%;
	cursor: pointer;
	margin-left: 10%;
	background: #A6AF13;
	margin-bottom: 7%;
	color: #FFF;
}
